body {
  font-family: Helvetica, sans-serif;
}

.navbar {
  border-bottom: 1px solid black;
}

.navbar .logo {
  text-decoration: none;
}
.navbar .logo img {
  height: 60px;
  vertical-align: middle;
}

.navbar li {
  display: inline;
  list-style-type: none;
}

.content {
  padding: 50px;
}


/* page-specific styles */

.page-button button {
  background-color: white;
  border-radius: 15px;
  border: 2px solid blue;
  color: blue;
  font-size: 1.1em;
  padding: 10px 19px;
}

.page-button button:hover {
  background-color: blue;
}
