<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Frontend Debugging Exercises</title>
    <link rel="stylesheet" href="../style.css"/>
  </head>
  <body>
    <ul class="navbar">
      <li>
        <img class="logo" src="../assets/logo.png"/>
      </li>
      {% for other in site.examples %}
        <li>
          <a href="..{{ other.url }}">{{ other.url | remove: '/' }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
