<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Frontend Debugging Exercises</title>
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/logo.png" />
    <link rel="stylesheet" href="{{site.baseurl}}/style.css"/>
  </head>
  <body class="page-{{ page.url | remove: '/' }}">
    <ul class="navbar">
      <li>
        <a class="logo" href="{{site.baseurl}}/">
          <img src="{{site.baseurl}}/assets/logo.png"/>
        </a>
      </li>
      {% assign sorted_pages = site.examples | sort:"order" %}
      {% for other in sorted_pages %}
        <li>
          <a href="{{site.baseurl}}{{ other.url }}">{{ other.url | remove: '/' }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
